$color-primary-white: #ffffff;
$color-primary-black: #121212;
$color-primary-light-gray: #dedede;
$color-primary-dark-gray: #575757;

$color-secondary-white: #fcfcfc;
$color-secondary-black: #1a1818;
$color-secondary-gray: #9c9c9c;

$color-colortheme-gray: #f3f3f3;

$color-accent-red: #9b4b4b;
$color-accent-dark-gold: #ab8956;

$content-width: 1366px;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 320px;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
